 .artists_detail{
    display: flex;
}

.left_search{
    width: 300px;
    margin: 50px 0 0 2%;
}
.left_search_box{
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}
.left_search_name{
    text-align: left;
    font-weight: 500;
    font-size: 1.1em;
}
.left_search_name li{
    margin:3px  5px;
   }
.left_search_name li:last-child{
    border-bottom: 1px solid #252525;
    padding-bottom: 15px;
}
.left_search_name li a{
    display: block;
    transition: all .3s;
    padding: 3px;
}
.left_search_name li a:hover{
    background-color: rgba(0, 0, 0, .5);
    color: #fefefe;
}
#artists_box{
    margin-left: 5%;
    width: 70%;
}
.artists_box_title{
    margin-top: 50px;
}

#artists_list_area{
    flex-wrap: wrap;

}

.artists_list{
    width:250px;
    height: 250px;
    position: relative;
    margin: 20px;
}

#left_search{
    font-size: 1.1em;
    padding-bottom: 5px;
}
#left_search:focus{
    border-bottom: 1px solid #ddd;
}

.left_search_btn{ 
    background-color: rgba(0, 0, 0, 0);
    width: 25px;
}

.artists_list a{
    display: block;
}
.artists_list_img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.artists_list_text{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    color: #fefefe;
    height: 250px;
    text-align: center;
    opacity: 0;
    transition: all .3s;
}
.artists_list_text h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.artists_list_text span{
    display: block;
    padding-top: 7px;
}

.artists_list:hover > .artists_list_text{
    opacity: 1;
}
.m_artists_list_text{
    display: none;
}
@media (max-width:787px){
    .artists_main{
        flex-wrap: wrap;
    }
    .left_search{
        width: 100%;
        margin: 30px auto;
    }
    .left_search_box{
        display: flex;
        justify-content: space-between;
        margin: 0 5%;
    }
    .left_search_name{
        display: none;
    }
    #artists_box{
        margin-left:0;
        width: 100%;
    }
    .artists_box_title{
        display: none;
    }
    .artists_list{
        width:90%;
        height: auto;
        position: unset;
        margin: 10px 5%;
    }
    
    #left_search{
        width: 85%;
    }

    .artists_list_img{
        position: unset;
    }
    
    .artists_list_text{
        display: none !important;
    }
    .m_artists_list_text{
        display: block;
        font-size: 1.2em;
        padding-top: 10px;
    }
}


/* artists_detail */



.artists_banner{
    width: 100%;
    height: 550px;
    background: url(../images/artists_banner1.jpg)no-repeat center top fixed;
}
.artist_subtitle{
    margin: 100px 0 50px 0;
}
.artists_detail{
    justify-content: center;
}
.artists_info_en, .artists_info_ko{
    width: 40%;
    margin: 0 3%;
}

.artist_info_name{
    margin-top: 100px;
    padding-bottom: 30px;
}
.artist_info_text{
    font-size: 1.1em;
    line-height: 1.4em;
}

.art_representative{
    width: 35% !important;
    margin: 100px auto;
    height: 350px;
}
.art_representative_nav{
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.art_representative_list{
    width: 13%;
    margin:10px;
}


.artists_goods_box_list{
    width: 18%;
    margin: 0 10px;
}
.artists_goods_box_list .square_box img:hover{
    transform: scale(1.2, 1.2);
}
.artists_goods_box_list .square_box img{
    transition: all .3s;
}
.artists_goods_box_list .square_box{
    overflow: hidden;
}

.square_box_text{
    text-align: center;
}
.buyNow_btn{
    width: 50%;
    margin: 10px auto;
    display: block;
    font-weight: 600;
    border: 1px solid #252525;
    padding: 5px 0;
    transition: all .3s;
}
.buyNow_btn:hover{
    color: #fefefe;
    background-color: #252525;
}


/* artists_exhibition_list */

.artists_exhibition_list{
    width: 18%;
    text-align: center;
    margin: 0 10px;
}

.artists_exhibition_text span{
    display: block;
}

@media (max-width:787px){

.artist_subtitle{
    margin: 60px 0 30px 0;
}
.artists_detail{
    flex-wrap: wrap;
}
.artists_info_en, .artists_info_ko{
    width: 100%;
}

.artist_info_name{
    margin-top: 60px;
}
.art_representative{
    width: 100% !important;
    margin: 60px auto;
}
.art_representative_nav{
    width: 100%;
    margin: 0 auto;;
    justify-content: start;
}

.art_representative_list{
    width: 17%;
    margin:5px 3px;
}

.artists_goods_box_area{
    flex-wrap: wrap;
}
.artists_goods_box_list{
    width: calc(50% - 20px);
    margin: 5px 10px 0;
}

/* artists_exhibition_list */

.artists_exhibition_list{
    width: calc(50% - 20px);
    margin: 5px 10px 0;
}

.artists_exhibition_text span{
    display: block;
}
}