

/* page_up */


.up_btn{
  position: fixed;
  z-index: 99;
  bottom: 5%;
  right: 5%;
  display: none;
  width: 44px;
  height: 44px;
}  

/* iphone */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

}}



#go-back{
  background-color: rgba(0, 0, 0, 0);
}

.flex{
  display: flex;
}


.square_box{ position: relative; width: 100%; background-color: #FFF; overflow: hidden;}
.square_box::after{ display: block; content: ""; padding-bottom: 100%;}
.square_box img{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;}