#login{
    width: 800px;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
}
.login_inner{
    width: 80%;
    margin: 0 auto;
}

#login .logo{
    width: 30%;
    margin: 0 auto;
}
.login_text{
    margin: 50px 0;
    color: #888b8e;
}
#login_form{
    display: flex;
    flex-direction: column;
}

#login_form input{
    border: 1px solid #eee;
    padding: 15px 10px;
    box-sizing: border-box;
    font-size: 1.2em;
    margin-bottom: 20px;
}
#login_form input:focus{
    outline: 1.2px solid #231f20;
}

.login_btn, .join_btn{ 
    width: 100%;
    padding: 15px 10px;
    box-sizing: border-box;
    font-size: 1.2em;
    background-color: #231f20;
    color: #fefefe;
    transition: all .3s;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0);
}
.login_btn:hover, .join_btn:hover{
    background-color: #fefefe;
    color: #231f20;
    border: 1px solid #ddd;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.find_box{
    margin-top: 10px;
}

.login_or{
    margin: 20px 0;
    text-align: center;
    display:block;
    position: relative;
    color: #ddd;

}
.login_or::before, .login_or::after {
    content: "";
    display: block;
    width: 45%;
    height: 1px;
    border-top: 1px solid #ddd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.login_or::after{
    right: 0;
}

.join_text{
    margin-bottom: 20px;
}
.join_text span{
    font-weight: 600;
}
.simple_login{
    margin-bottom: 100px;
}
.simple_login img{
    display: inline-block;
    width: 30px;
    margin-right: 20px;
}
.simple_login li{
    padding: 15px;
    font-size: 1.1em;
    font-weight: 500;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    cursor: pointer;
}
.simple_login li:hover{
    background-color: #eee;
}

#login #go-back{
    width: 30px;
    float: left;
    opacity: .6;
    transition: all .3s;
}
#login #go-back:hover{
    opacity: 1;
}

@media (max-width:787px){
    #login{
        width: 100%;
        top: 4%;
    }
    .login_inner{
        width:95%;
    }
    
    #login .logo{
        width: 40%;
    }
    .login_text{
        margin:40px 0 25px;
    }
    #login_form input{
        padding: 15px 10px;
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    #login #go-back{
        float: none;
    }
}


/* join */
.join_area{
    max-width:1200px;
    width: 60%;
    margin: 0 auto;
}
#personal_information{
    padding-top: 50px;
}

.join_area section{
    margin: 60px auto;
}
.join_sub_title{
    margin-bottom: 25px;
}

.join_sub_title::after{
    content: "";
    display: inline-block;
    width: 80%;
    border-top:1.5px solid #231f20;
    vertical-align: super;
    margin-left: 20px;
}
#conditions .join_sub_title::after{
    width: 70%;
}

#easy_subscription .join_sub_title::after{
    width: 91%;
}
.join_box{
    padding: 0 20px;
    box-sizing: border-box;
}
.join_list {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}
.join_list label{
    width: 15%;
    font-weight: 500;
}
.agreement0_check{
    font-weight: 500;
}
.join_list input{
    width: 400px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
}
.join_list input:focus{
    border: 1px solid #ddd;
}
.address_box{
    display: inline-block;
    width: 60%;
}
.address_box input{
    margin-top: 5px;
}
#phone_1{
    margin-right: 15px;
}
#phone_2, #phone_3{
    width: 80px;
    text-align: right;
}

#pass_input, #pass_chk{
    width: 60%;
    margin-left: 15%;
    padding-left: 10px;
    display: none;
}
#pass_chk{
    width: 15% !important;
    margin-left: 0;
}
.conditions_list{
    margin: 10px 0 10px 20px;
}
.conditions_list_title{
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
}
.conditions_list_title::before{
    content: "[필수]";
    display: inline;
    padding-right: 5px;
    font-size: .8em;
    vertical-align: top;
    margin-right: 10px;
}


#conditions_check_box{
    margin-left: 20px;
    vertical-align: bottom;
}
.conditions_inner{
    display: none;
    height: 150px;
    overflow-Y: scroll;
    padding: 20px 15px;
    margin-top: 15px;
}
.cd_on{
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}
.agreement_chk{
    margin-right: 5px;
}

.join_btns{ 
    text-align: center;
}

.join_back, .join_go{
    margin: 0 10px;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-weight: 600;
    transition: all .3s;
}
.join_back:hover, .join_go:hover{
background-color:#231f20 ;
color: #fefefe;
}

.join_area .simple_login{
    margin-bottom: 50px;
}


@media (max-width:787px){
    .join_area{
        width: 95%;
    }
    #personal_information{
        padding-top: 50px;
    }
    
    .join_area section{
        margin: 60px auto;
    }
    .join_sub_title{
        margin-bottom: 25px;
    }
    
    .join_sub_title::after{
        width: 65%;
    }
    #conditions .join_sub_title::after{
        width: 55%;
    }
    
    #easy_subscription .join_sub_title::after{
        width: 76%;
    }
    .join_box{
        padding: 0;
    }

    .join_list {
        margin: 10px 0 10px 5px;
    }

    .join_list label{
        width: 25%;
    }
    .join_list input{
        width: 75%;
    }

    .address_box{
        width: 75%;
    }


    #pass_input, #pass_chk{
        width: 60%;
        margin-left: 15%;
        padding-left: 10px;
        display: none;
    }
    #pass_chk{
        width: 100% !important;
    }
    .conditions_list{
        margin: 10px 0 10px 5px;
    }

    #conditions_check_box{
        margin-left:5px;
    }



    .join_area .simple_login,  .join_btns{
        margin-bottom:15px;
    }

}