/* Style */

/* 
body.hidden { position: fixed; overflow-y:hidden;  touch-action: none;} */
a, button { color:#51545c;}
/* p, li{word-break: keep-all;} */

.clear {clear:both;}
.clear:after { content:""; display:block; clear:both;}
caption > div,
legend,
.hide {overflow: hidden; display:block; position:absolute; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px);}

.skip { position: absolute; left: 0; right: 0; top:-100%; transition: all .5s; line-height: 5rem; background: #231f20; color:#fefefe; text-align: center; z-index: 100;}
.skip:focus { top: 0; }





img { display: block; width: 100%;}
.inner{ width: 80%; margin: auto;}
#hidden {height:100%; min-height:100%; overflow:hidden !important; touch-action:none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);}
/* 모달히든 */
#modal-hide { overflow:hidden !important; touch-action:none;  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);}


  @media (min-width:768px) and (max-width:1200px){
    .inner{ width: 95%;}
  }
  
  @media (max-width:767px){
  .inner{ width: 95%;}
  }


input{ color: #51545c;}
input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  width: 16px !important;
  height: 16px !important;
  cursor: pointer;
  outline: none !important;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.3);
}

input[type="checkbox"]::before {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: scale(0) translate(-50%, -50%);
  line-height: 1;
}

input[type="checkbox"]:hover {
  border-color: rgba(170, 170, 170, 0.5);
}

input[type="checkbox"]:checked {
  background-color: rgba(0,0,0,0.5);
  border-color: rgba(255, 255, 255, 0.3);
  color: white;
}

input[type="checkbox"]:checked::before {
  border-radius: 2px;
  transform: scale(1) translate(-50%, -50%)
}

textarea{ border: 1px solid #ccc !important; }

/* 스크롤바 설정*/
.scroll_box::-webkit-scrollbar{width: 10px;}
.scroll_box::-webkit-scrollbar-thumb{background-color: #92278F4b; border-radius: 10px;}
.scroll_box::-webkit-scrollbar-track{ background-color: rgba(155, 135, 135, 0);}

input[type="button"], input[type="submit"]{
  background-color: rgba(0,0,0,0);
}